@import "../abstract/mixins";
@import "../abstract/variables";

.personal-project {
  @include flexbox;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2rem;

  .personal-project__img {
    width: 27.75rem;
    height: 17.375rem;
  }

  .personal-project__name {
    @include white-link;
    margin: 10px 0 10px 0;
  }

  .personal-project__description {
    color: $primary-color;
    line-height: $primary-line-height;
    margin: 0.438rem 0;
  }

  .personal-project__technologies {
    @include technologies;
  }
}
