@import "../abstract/mixins";
@import "../abstract/variables";

.personal-project {
  @include flexbox;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 2rem;

  .personal-project__img {
    width: 100%;
  }

  .personal-project__name {
    @include white-link;
    margin-right: 0.3rem;
  }

  .personal-project__description {
    color: $primary-color;
    line-height: $primary-line-height;
    margin: 0.438rem 0;
  }

  .personal-project__technologies {
    @include technologies;
  }

  .link-icon {
    width: 0.8rem;
  }
}
