@import "../abstract/_variables.scss";

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #000;
  color: $primary-color;
  overflow-x: hidden;
  font-size: $primary-font-size;
}

.container {
  width: 100%;
  max-width: 29.5rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}
