@import "../abstract/_variables.scss";
@import "../abstract/mixins";

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
}

@include media-md {
  html {
    font-size: 14px;
  }
}

@include media-sm {
  html {
    font-size: 12px;
  }
}

@include media-extra-sm {
  html {
    font-size: 10px;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #000;
  color: $primary-color;
  display: flex;
  flex-direction: column;
  font-size: $primary-font-size;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 29.5rem;
  padding-left: 0.875rem;
  padding-right: 0.875rem;
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.button {
  border-radius: 0.313rem;
  cursor: pointer;
  padding: 0.2rem 0.656rem;
  text-transform: uppercase;
}

.section-header {
  color: $text-light;
  font-size: $primary-font-size;
  font-weight: $primary-font-weight;
  line-height: 1.05rem;
  margin-bottom: 0.3rem;
}
