@mixin media-md {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin media-extra-sm {
  @media screen and (max-width: 318px) {
    @content;
  }
}

@mixin flexbox {
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin primary-margin-bottom {
  margin-bottom: 2.188rem;
}

@mixin white-link {
  color: $text-light;
  font-size: $primary-font-size;
  font-weight: $primary-font-weight;
  line-height: 1.05rem;
  margin-right: 0.3rem;
}

@mixin technologies {
  color: $secondary-color;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
}
