// color
$primary-color: #a3a3a3;
$secondary-color: #808080;
$text-light: #fff;

// font-size
$primary-font-size: 0.875rem;

// font-weight
$primary-font-weight: 400;

// line-height
$primary-line-height: 1.313rem;
